@charset "UTF-8";
/*Generales*/
* {
  margin: 0px;
  padding: 0px; }

/*COLORES*/
.colorSec {
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 14px; }

.fondoUno {
  color: #f4f3f2;
  width: 100%; }

.sinPadding {
  padding: 0px; }

.menuHover:hover {
  color: #a59592; }

.textTopBar1 {
  color: #f4f3f2;
  font-family: 'Spectral', serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: pre;
  font-size: 14px;
  padding-left: 5%;
  padding-top: 1.5%;
  margin: 0px; }

.textTopBar2 {
  color: #f4f3f2;
  font-family: 'Spectral', serif;
  white-space: pre;
  font-size: 14px;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-left: 7%;
  margin-left: 50%;
  margin-bottom: 10%; }

ul {
  list-style-type: none;
  text-decoration: none;
  color: #8b6a62; }

a {
  text-decoration: none;
  color: #8b6a62; }

li {
  font-family: 'Spectral', serif;
  font-size: 16px;
  font-weight: bolder; }

.redes {
  height: 40px;
  width: 40px;
  display: inline;
  left: -230px;
  padding: 10px 10px; }

.imgTemporada {
  height: 25%;
  width: 25%;
  margin-right: 2.5%;
  margin-left: 5%;
  margin-top: 5%; }

.imgCarrousel {
  height: 60%;
  width: 90%;
  position: relative;
  align-items: center;
  margin-left: 5%; }

/*CERÁMICAS/PIEZAS*/
.navbarr {
  margin: 0px 0px 0px !important; }

.topBar {
  background-color: #312f2e !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  width: 100%;
  margin-bottom: 5%;
  padding: 0px;
  position: fixed;
  z-index: 1; }

.logoPiezas {
  margin-right: 160px;
  margin-left: 21% !important;
  max-width: 100%;
  margin-top: 6% !important;
  height: 14.9% !important;
  width: 14.9% !important; }

.ordenarX {
  font-family: 'Spectral', serif;
  font-size: 19px;
  font-weight: bolder;
  color: #255074;
  display: inline;
  margin-left: 70%;
  padding-left: 1rem;
  padding-top: 2rem; }

.titulosPiezas {
  position: relative;
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 25px;
  display: inline;
  margin-left: 8.5%; }

.banner {
  height: 15% !important;
  width: 100% !important;
  margin-bottom: 5%;
  margin-top: 3%; }

.menuPiezas {
  display: grid !important;
  text-decoration: none;
  grid-area: menu1 !important;
  grid-template-columns: 18% 18% 18% 18% 18% !important;
  margin-right: 5% !important;
  margin-left: 4% !important;
  justify-content: center !important;
  color: #8b6a62; }

.card {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover;
  color: white;
  position: relative;
  border-radius: 5px; }

.cardMargen {
  margin: 3%; }

.card-user {
  position: absolute;
  right: 10px;
  top: 10px; }

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px; }

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px; }

.card-description h2 {
  font-size: 22px; }

.card-description p {
  font-size: 15px; }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0; }

.card-link:hover {
  opacity: 0.1; }

.features img {
  width: 100px; }

.features h2 {
  font-size: 20px;
  margin-bottom: 10px; }

.features p {
  font-size: 15px;
  font-weight: lighter; }

/*INDEX*/
.logo, .logoPiezas, .logoContact {
  height: 15%;
  width: 15%;
  margin-right: 25%;
  margin-left: 38%;
  margin-top: 6%;
  margin-left: 510px;
  max-width: 100%; }

.logoContact {
  margin-right: 160px;
  margin-left: 37%;
  max-width: 100%;
  height: 15,5%;
  width: 15.5%;
  margin-left: 490px; }

.portada {
  display: flex;
  height: 20%;
  width: 90%;
  top: 80px;
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%; }

.marquee {
  height: 40px;
  width: 90%;
  overflow: hidden;
  position: relative; }

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 10s linear infinite; }

.marquee span {
  float: left;
  width: 50%; }

@keyframes marquee {
  0% {
    left: 0; }
  100% {
    left: -100%; } }

/*<!-- flexbox -->*/
.flexbox-padre {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; }

/*<!-- flexbox -->*/
.menu1, .menuPiezas, .menuIndex {
  display: grid;
  text-decoration: none;
  grid-area: menu1;
  grid-template-columns: 17% 17% 17% 17% 17%;
  margin-top: 6%;
  margin-right: 8%;
  margin-bottom: 3%;
  padding-left: 12rem;
  justify-content: center;
  color: #8b6a62; }

.menuIndex {
  display: grid;
  text-decoration: none;
  grid-area: menu1;
  grid-template-columns: 17% 17% 17% 17% 17%;
  margin-right: 8%;
  padding-left: 12rem;
  justify-content: center;
  color: #8b6a62; }

/*<!-- flexbox -->*/
.galeria-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 2%; }

.tituloTemporada {
  color: #f4f3f2;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: normal;
  background-color: #255074; }

.made {
  color: #255074;
  font-size: 20px;
  margin-top: 60px; }

.footerFondo {
  background-color: #8b6a62; }

/*PAGES GENERAL*/
.titulosPages {
  color: #8b6a62;
  font-family: 'Spectral', serif;
  margin-left: 70px;
  margin-top: 30px; }

/*BIOGRAFÍA/ABOUT*/
.gridPadreUno {
  display: grid;
  grid-template-areas: "imguno titulo" "imguno texto" "imguno texto";
  grid-template-columns: 50% 40%;
  grid-template-rows: 25% 25%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 4%;
  background-color: #8b6a6211; }

.gridHijoUno {
  grid-area: imguno;
  height: 100%;
  width: 55%;
  margin-left: 25%;
  padding-top: 9%; }

.gridHijoDos {
  grid-area: titulo;
  padding-top: 9%;
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 20px; }

.gridHijoTres {
  grid-area: texto;
  font-size: 1em;
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 20px; }

.textosAbout {
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 20px;
  text-align: left;
  width: 40%;
  height: 50%;
  margin-left: 600px;
  vertical-align: text-top; }

.tituloBio {
  position: relative;
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 25px;
  display: inline;
  margin-left: 40.5%; }

.imgAbout {
  margin-left: 9%;
  height: 15%;
  width: 25%; }

.backgroundAbout {
  background-color: rgba(66, 47, 29, 0.315);
  margin-left: 9%;
  height: 9%;
  width: 80%; }

.text-bio {
  flex: 1;
  padding: 10px;
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 20px;
  text-align: left;
  width: 50%;
  height: 15%;
  margin-top: 3%;
  margin-left: 40%;
  vertical-align: text-top; }

/*CONTACTO*/
.contact-form {
  background: -webkit-linear-gradient(top, #bd9887, #ffffff);
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%; }

.contact-form .form-control {
  border-radius: 1rem; }

.contact-image {
  text-align: center; }

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg); }

.contact-form form {
  padding: 14%; }

.contact-form form .row {
  margin-bottom: -7%; }

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #3a71ac; }

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #255074;
  font-weight: 600;
  color: #fff;
  cursor: pointer; }

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #5d7997;
  border: none;
  cursor: pointer; }

.footerAbout {
  margin-top: 15rem; }

/*CURSOS*/
.gridPadreDos {
  display: grid;
  grid-template-areas: "imguno titulo" "imguno texto" "imguno texto";
  grid-template-columns: 50% 40%;
  grid-template-rows: 25% 25%;
  margin-bottom: 2%;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 4%;
  background-color: #8b6a6211; }

.gridHijo1 {
  grid-area: imguno;
  height: 100%;
  width: 55%;
  margin-left: 25%;
  padding-top: 9%; }

.gridHijo2 {
  grid-area: titulo;
  padding-top: 9%;
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 20px; }

.gridHijo3 {
  grid-area: texto;
  font-size: 1em;
  color: #255074;
  font-family: 'Spectral', serif;
  margin-top: 0px;
  font-size: 17px; }

.gridPadreTres {
  display: grid;
  grid-template-areas: "imguno titulo" "imguno texto" "imguno texto";
  grid-template-columns: 50% 40%;
  grid-template-rows: 25% 25%;
  margin-bottom: 2%;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 4%;
  background-color: #8b6a6211; }

.gridHijo4 {
  grid-area: imguno;
  height: 100%;
  width: 55%;
  margin-left: 120%;
  padding-top: 9%; }

.gridHijo5 {
  grid-area: titulo;
  padding-top: 9%;
  padding-bottom: 9%;
  float: right;
  margin-left: -95%;
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 20px; }

.gridHijo6 {
  grid-area: texto;
  font-size: 1em;
  float: right;
  margin-left: -8%;
  margin-right: 30%;
  color: #255074;
  font-family: 'Spectral', serif;
  font-size: 17px; }

.textoCursos {
  font-family: 'Spectral', serif;
  font-size: 18px;
  color: #8b6a62;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4%;
  margin-bottom: 3%;
  text-align: center;
  padding: 2%; }

/*Media Queris*/
@media (min-width: 464px) and (max-width: 767px) {
  .topBar {
    background-color: #312f2e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    margin-bottom: 5%;
    padding: 0px; }
  .textTopBar1 {
    color: #f4f3f2;
    font-family: 'Spectral', serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: pre;
    font-size: 12px;
    padding-left: 9%;
    padding-top: 2.5%;
    margin: 0px; }
  .textTopBar2 {
    color: #f4f3f2;
    font-family: 'Spectral', serif;
    white-space: pre;
    font-size: 12px;
    padding-right: 9%;
    padding-top: 2.5%;
    padding-left: 0%;
    margin-left: 2%;
    margin-bottom: 10%; }
  .logo, .logoPiezas, .logoContact {
    height: 25% !important;
    width: 25% !important;
    margin-right: 18% !important;
    margin-left: 39% !important;
    margin-top: 12% !important;
    padding-top: 8%; }
  .logoPiezas {
    height: 25% !important;
    width: 25% !important;
    margin-right: 18% !important;
    margin-left: 21.3% !important;
    margin-top: 12% !important; }
  .menu1, .menuPiezas, .menuIndex {
    display: grid;
    text-decoration: none;
    grid-area: menu1;
    grid-template-columns: 16% 16% 16% 16% 16%;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 15% !important;
    padding-left: 0%;
    justify-content: center;
    font-size: 13px;
    color: #8b6a62; }
  .banner {
    display: none; }
  /*PIEZAS*/
  .ordenarX {
    font-family: 'Spectral', serif;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #255074;
    margin-left: 5%;
    padding-left: 1rem;
    padding-top: 4rem; }
  .titulosPiezas {
    position: relative;
    color: #255074;
    font-family: 'Spectral', serif;
    font-weight: bold;
    font-size: 20px;
    display: inline;
    margin-left: 5%; }
  .card {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px; }
  .cardMargenMovil {
    padding-top: 3%; }
  /*ABOUT*/
  .gridPadreUno {
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 1%;
    padding-bottom: 12%; }
  .gridHijoUno {
    height: 100%;
    width: 93%;
    margin-left: 10%;
    padding-top: 18%; }
  .gridHijoDos {
    padding-top: 9%;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 18px;
    margin-left: 16%;
    margin-right: 60%;
    padding-top: 18%; }
  .gridHijoTres {
    font-size: 1em;
    color: #255074;
    font-family: 'Spectral', serif;
    margin-left: 16%;
    font-size: 12px; }
  /*CURSOS*/
  .gridPadreDos {
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 1%;
    padding-bottom: 4%;
    background-color: #8b6a6211; }
  .gridHijo1 {
    width: 11.875rem;
    height: 20rem;
    margin-left: 1%;
    margin-top: 40%; }
  .gridHijo2 {
    padding-top: 9%;
    padding-bottom: 9%;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 16px; }
  .gridHijo3 {
    margin-right: 8%;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 12px; }
  .gridPadreTres {
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 1%;
    padding-bottom: 4%;
    background-color: #8b6a6211; }
  .gridHijo4 {
    width: 11.875rem;
    height: 20rem;
    margin-left: 110%;
    margin-top: 38%;
    float: left; }
  .gridHijo5 {
    padding-top: 9%;
    padding-bottom: 9%;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 16px; }
  .gridHijo6 {
    float: right;
    margin-left: -10%;
    margin-right: 50%;
    padding-top: 9%;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 12px; }
  .textoCursos {
    font-family: 'Spectral', serif;
    font-size: 15px;
    color: #8b6a62;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 3%;
    text-align: center;
    padding: 2%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .topBar {
    background-color: #312f2e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    margin-bottom: 5%;
    padding: 0px; }
  .textTopBar1 {
    color: #f4f3f2;
    font-family: 'Spectral', serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: pre;
    font-size: 15px;
    padding-left: 9%;
    padding-top: 2.5%;
    margin: 0px; }
  .textTopBar2 {
    color: #f4f3f2;
    font-family: 'Spectral', serif;
    white-space: pre;
    font-size: 15px;
    padding-right: 1%;
    padding-top: 2.5%;
    padding-left: 0%;
    margin-left: 20%;
    margin-bottom: 10%; }
  .logo, .logoPiezas, .logoContact {
    height: 19% !important;
    width: 19% !important;
    margin-right: 18% !important;
    margin-left: 39% !important;
    margin-top: 8% !important;
    padding-top: 8%; }
  .logoPiezas {
    height: 23% !important;
    width: 23% !important;
    margin-right: 18% !important;
    margin-left: 18% !important;
    margin-top: 8% !important; }
  .menu1, .menuPiezas, .menuIndex {
    display: grid;
    text-decoration: none;
    grid-area: menu1;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 3%;
    margin-left: 13%;
    padding-left: 0%;
    justify-content: center;
    font-size: 13px;
    color: #8b6a62; }
  .menuIndex {
    display: grid;
    text-decoration: none;
    grid-area: menu1;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: -16%;
    font-size: 20px;
    padding-left: 12rem;
    justify-content: center;
    color: #8b6a62; }
  .banner {
    width: 100%; }
  /*PIEZAS*/
  .ordenarX {
    font-family: 'Spectral', serif;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #255074;
    margin-left: 5%;
    padding-left: 1rem;
    padding-top: 4rem; }
  .titulosPiezas {
    position: relative;
    color: #255074;
    font-family: 'Spectral', serif;
    font-weight: bold;
    font-size: 20px;
    display: inline;
    margin-left: 5%; }
  .card {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px; }
  /*ABOUT*/
  .gridPadreUno {
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 1%;
    padding-bottom: 12%; }
  .gridHijoUno {
    height: 100%;
    width: 93%;
    margin-left: 10%;
    padding-top: 18%; }
  .gridHijoDos {
    padding-top: 9%;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 18px;
    margin-left: 16%;
    margin-right: 60%;
    padding-top: 18%; }
  .gridHijoTres {
    font-size: 1em;
    color: #255074;
    font-family: 'Spectral', serif;
    margin-left: 16%;
    font-size: 18px; }
  /*CURSOS*/
  .gridPadreDos {
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 12%;
    background-color: #8b6a6211; }
  .gridHijo1 {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    padding-top: 30%; }
  .gridHijo2 {
    padding-top: 9%;
    padding-bottom: 1%;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 16px; }
  .gridHijo3 {
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 18px;
    padding-top: 9%;
    float: right; }
  .gridPadreTres {
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 12%;
    background-color: #8b6a6211; }
  .gridHijo4 {
    width: 80%;
    height: 70%;
    margin-left: 110%;
    margin-top: 26%; }
  .gridHijo5 {
    padding-top: 9%;
    margin-right: 50%;
    padding-left: -10%;
    padding-bottom: 1%;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 16px; }
  .gridHijo6 {
    padding-top: 9% !important;
    margin-left: -10% !important;
    margin-right: 40% !important;
    color: #255074;
    font-family: 'Spectral', serif;
    font-size: 18px; }
  .textoCursos {
    font-family: 'Spectral', serif;
    font-size: 18px;
    color: #8b6a62;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 3%;
    text-align: center;
    padding: 2%; } }
