/*Generales*/
*{
    margin: 0px;
    padding:0px;
}
/*COLORES*/
$blanco-color: #f4f3f2;
$azul-color: #255074;
$marron-color: #8b6a62;


.colorSec {
    color:$azul-color;
    font-family:'Spectral', serif;
    font-size: 14px;
 }
.fondoUno {
    color: $blanco-color;
    width: 100%;
}
.sinPadding {
    padding: 0px;
}
.menuHover:hover {
    color:#a59592;
}
.textTopBar1{
    color: $blanco-color;
    font-family: 'Spectral', serif;
    font-size: 14px;
    padding-left: 5%;
    padding-top: 1.5%;
    margin: 0px;

}
.textTopBar2{
    color: $blanco-color;
    font-family: 'Spectral', serif;
    font-size: 14px;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-left: 7%;
    margin-left: 50%;
    margin-bottom: 10%;   
}    
ul {
    list-style-type: none;
    text-decoration: none; 
    color:$marron-color ;
}

a {
    text-decoration: none; 
    color: $marron-color ;
 }

li {
    font-family:'Spectral', serif;
    font-size: 16px;  
    font-weight: bolder;    
 }

.redes{
    height: 40px;
    width: 40px;
    display: inline;
    left: -230px;
    padding: 10px 10px;
}
.imgTemporada {
    height: 25%;
    width: 25%;
    margin-right: 2.5%;
    margin-left: 5%;
    margin-top: 5%;

}
.imgCarrousel {
    height: 60% ;
    width: 90%;
    position: relative;
    align-items: center;
    margin-left: 5%;

}
/*CERÁMICAS/PIEZAS*/

.topBar {
    background-color: rgb(49, 47, 46);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    margin-bottom: 5%;
    padding: 0px;
}
  
  .ordenarX {
    font-family: 'Spectral', serif;
    font-size: 19px;
    font-weight: bolder;
    color: $azul-color;
    display: inline;
    margin-left: 520px;
    padding-left: 1rem;
    padding-top: 2rem; 
}
  
  .titulosPiezas {
    position: relative;
    color: $azul-color;
    font-family: 'Spectral', serif;
    font-size: 25px;
    display: inline;
    margin-left: 8.5%; }
  
  .item-text {
    padding: 0.5em;
    color: $blanco-color;
    font-family: 'Spectral', serif;
    font-size: 10px;
    margin-top: -6%;
    line-height: -5%; 
}
  
  .contenedor {
    display: grid;
    grid-area: contenedor;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 4rem;
    margin-left: 120px;
    gap: 3rem; }
  
  .item {
    width: 15rem;
    height: 20rem;
    background-color: rgba(37, 80, 116, 0.521);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  
  .img {
    width: 15rem;
    height: 15rem; }
  
  .card {
    background: rgba(43, 111, 167, 0.623);
    border: 1px solid #8d7975;
    color: rgba(250, 250, 250, 0.8);
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem; }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient);
    -webkit-text-fill-color: transparent;
    border-image-source: var(--gradient);
    text-decoration: none;
    transition: all .4s ease;
}
  
  .btn:hover, .btn:focus {
    background: var(--gradient);
    -webkit-text-fill-color: $blanco-color; 
    border: 5px solid $blanco-color; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline; 
}
  
 /*INDEX*/
.logo {
    height: 15%;
    width: 15%;
    margin-right: 25%;
    margin-left: 38%;
    margin-top: -1%;
    margin-left: 510px;
    max-width: 100%;

}
.logoContact{

	@extend .logo;

    margin-right: 160px;
    margin-left: 37%;
    margin-top: 3%;
    margin-left: 490px;
    max-width: 100%;

	height: 15,5%;
	width: 15.5%;
	margin-left: 490px;
}
.subTitulo {
    color: $azul-color;
    font-family: 'Spectral', serif;
    font-size: 20px;
    margin-left: 43.5%;
    padding-top: 1.5%;
    font-style: italic;

}
.portada {
    display: flex;
    height: 20%;
    width: 90%;
    top: 80px;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;   
}
.marquee {
    height: 40px;
    width: 90%;

    overflow: hidden;
    position: relative;
  }

  .marquee div {
    display: block;
    width: 200%;
    height: 30px;

    position: absolute;
    overflow: hidden;

    animation: marquee 10s linear infinite;
  }

  .marquee span {
    float: left;
    width: 50%;
  }

  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
/*<!-- flexbox -->*/
.flexbox-padre{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
/*<!-- flexbox -->*/
.menu1{
    display: grid;
    text-decoration: none;
    grid-area: menu1;
    grid-template-columns: 17% 17% 17% 17% 17%;
    margin-top: 6%;
    margin-right: 8%;
    margin-bottom: 3%;
    padding-left: 12rem; 
    justify-content: center;
    color: $marron-color;  
}
.menuIndex{

	@extend .menu1;

    display: grid;
    text-decoration: none;
    grid-area: menu1;
    grid-template-columns: 17% 17% 17% 17% 17%;
    
    margin-right: 8%;
    padding-left: 12rem; 
    justify-content: center;
    color: $marron-color;  
}
/*<!-- flexbox -->*/
.galeria-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 2%;
}
.tituloTemporada{
    color: $blanco-color;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: normal;
    background-color:$azul-color;
}
.made{
    color: $azul-color;
    font-size: 20px;
    margin-top: 60px;
}
.footerFondo{
    background-color: $marron-color;
}  

/*PAGES GENERAL*/

.titulosPages {
    color: $marron-color;
    font-family:'Spectral', serif;
    margin-left: 70px;
    margin-top: 30px;
 }

/*BIOGRAFÍA/ABOUT*/

.gridPadreUno{
    display: grid;
    grid-template-areas: 
    "imguno titulo"
    "imguno texto"
    "imguno texto";
    grid-template-columns: 50% 40%;
    grid-template-rows: 25% 25%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.gridHijoUno{
    grid-area: imguno;
    height: 100%;
    width: 55%;
    margin-left: 25%;
    padding-top: 9%;

} 
.gridHijoDos{
    grid-area: titulo;
    padding-top: 9%;
    color: $azul-color;
    font-family:'Spectral', serif;
    font-size: 20px;
} 
.gridHijoTres{
    grid-area: texto;
    font-size: 1em;
    color: $azul-color;
    font-family:'Spectral', serif;
    font-size: 20px;

}   


.textosAbout{
    color: $azul-color;
    font-family:'Spectral', serif;
    font-size: 20px;
    text-align: left;
    width: 40%;
    height: 50%;
    margin-left: 600px;
    vertical-align: text-top;
 }
 .tituloBio {
    position: relative;
    color: $azul-color;
    font-family: 'Spectral', serif;
    font-size: 25px;
    display: inline;
    margin-left: 40.5%; }


.imgAbout{
    margin-left: 9%;
    height: 15%;
    width: 25%;
}
.backgroundAbout{
    background-color: rgba(66, 47, 29, 0.315);
    margin-left: 9%;
    height: 9%;
    width: 80%;
}
.text-bio {
    flex: 1;
    padding: 10px;
    color: $azul-color;
    font-family:'Spectral', serif;
    font-size: 20px;
    text-align: left;
    width: 50%;
    height: 15%;
    margin-top: 3%;
    margin-left: 40%;
    vertical-align: text-top;
}
/*CONTACTO*/

.contact-form{
    background: -webkit-linear-gradient(top, #bd9887, #ffffff);;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #3a71ac;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: $azul-color;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #5d7997;
    border: none;
    cursor: pointer;
}
.footerAbout{
    margin-top: 15rem;
} 















